@use '../utilities' as *;

.body {
    @include display-grid();
    font-family: $ff-paragraph;
    font-size: $fs-normal;
    height: 100vh;

    &__content {
        height: 100%;
        width: 100%;

        .section {
            margin: $section-margin 0;
            padding: 0 $site-side-padding;
            width: 100%;

            &--hero {
                background: $background;
                color: $white;
                margin: 0;
                overflow-x: hidden;
                overflow-y: hidden;
                padding-bottom: 20rem;
                padding-top: 20rem;
                position: relative;
                // padding-top: 10rem;

                .hero {
                    &--wrapper {
                        @include display-grid($gap: 5rem);
                        grid-template-columns: 1fr 1fr;
                        // padding: 20rem 18rem;
                        position: relative;

                        .message-wrapper {
                            z-index: 50;

                            .intro {
                                font-size: $fs-h4;
                                margin-bottom: -0.75rem;
                            }

                            .profession {
                                font-size: $fs-h1;
                            }

                            .message {
                                font-size: $fs-slightly-larger;
                            }

                            .buttons {
                                @include display-flex($justify-content: start);
                                gap: 2rem;
                                margin-top: 1.5rem;
                            }
                        }

                        .image {
                            height: 100%;
                            position: relative;
                            width: 100%;

                            .portrait {
                                position: absolute;
                                right: 0px;
                                top: -150px;
                            }
                        }
                    }
                }

                .section--wave {
                    bottom: 0px;
                    left: 0px;
                    position: absolute;
                    z-index: 25;
                }

                #blob-one,
                #blob-two {
                    position: absolute;
                    width: 75rem;
                    z-index: -1;
                }

                #blob-one {
                    bottom: -500px;
                    right: -350px;
                }

                #blob-two {
                    left: -500px;
                    top: -500px;
                }
            }

            &--about {
                background-color: $white;
                margin-top: 0;
                padding-top: 10rem;

                .about {
                    &--wrapper {
                        @include display-grid($gap: 0rem);
                        align-items: flex-end;
                        grid-template-columns: 1fr 1fr;

                        .image {
                            @include display-flex();

                            #about-me-img {
                                width: 100%;
                            }
                        }

                        .message-wrapper {
                            align-self: flex-start;

                            .section {
                                &__sub-title {
                                    color: $primary;
                                    font-size: $fs-section-title;
                                    font-weight: $fw-medium;
                                    letter-spacing: 0.16em;
                                    margin-bottom: 0.5rem;
                                }

                                &__title {
                                    color: $secondary;
                                    font-size: $fs-title;
                                    font-weight: $fw-semi-bold;
                                    letter-spacing: 0.16em;
                                    margin-bottom: 0.5rem;
                                }

                                &__content {
                                    color: $paragraph;
                                    font-size: $fs-slightly-larger;
                                    margin-bottom: 0.5rem;
                                }
                            }

                            .stats {
                                @include display-flex(
                                    $justify-content: flex-end
                                );
                                gap: 1.5rem;
                                margin-top: 1.5rem;

                                .stat-box {
                                    background-color: $card-bg;
                                    border-radius: 1rem;
                                    padding: 1.125rem;
                                    width: 10rem;

                                    @include display-flex-column();

                                    .stat {
                                        color: $primary;
                                        font-size: 2rem;
                                        font-weight: $fw-bold;
                                    }

                                    .stat-label {
                                        font-size: 1rem;
                                        font-weight: $fw-bold;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &--skills {
                background-color: $white;

                .skills {
                    &--wrapper {
                        @include display-grid($gap: 0rem);
                        grid-template-columns: 1fr 1fr;

                        .left--wrapper {
                            @include display-flex-column($align-items: start);

                            .section {
                                &__sub-title {
                                    color: $primary;
                                    font-size: $fs-section-title;
                                    font-weight: $fw-medium;
                                    letter-spacing: 0.16em;
                                    margin-bottom: 0.5rem;
                                }

                                &__title {
                                    color: $secondary;
                                    font-size: $fs-title;
                                    font-weight: $fw-semi-bold;
                                    letter-spacing: 0.16em;
                                    margin-bottom: 0.5rem;
                                }

                                &__content {
                                    color: $paragraph;
                                    font-size: $fs-slightly-larger;
                                    margin-bottom: 5rem;
                                }
                            }

                            #programming-img {
                                align-self: center;
                            }
                        }

                        .right--wrapper {
                            height: 100%;

                            .skills__list {
                                @include display-flex-column(
                                    $align-items: start,
                                    $justify-content: space-evenly
                                );
                                height: 100%;

                                .skill {
                                    background-color: $card-bg;
                                    border-radius: 1rem;
                                    padding: 1rem 1.5rem;
                                    width: 100%;

                                    &__icon {
                                        color: $secondary;
                                        font-size: 2.5rem;
                                    }

                                    &__title {
                                        color: $secondary;
                                        font-size: 1.5rem;
                                        font-weight: $fw-semi-bold;
                                        letter-spacing: 0.06em;
                                        margin-bottom: 0.25rem;
                                    }

                                    &__link {
                                        color: $primary;
                                        cursor: pointer;
                                        text-decoration: none;
                                        transition: all 1s ease;

                                        &:hover {
                                            letter-spacing: 0.25rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &--projects {
                background-color: $white;

                .projects {
                    &--wrapper {
                        text-align: center;

                        .section {
                            &__sub-title {
                                color: $primary;
                                font-size: $fs-section-title;
                                font-weight: $fw-medium;
                                letter-spacing: 0.16em;
                                margin-bottom: 0.5rem;
                            }

                            &__title {
                                color: $secondary;
                                font-size: $fs-title;
                                font-weight: $fw-semi-bold;
                                letter-spacing: 0.16em;
                                margin-bottom: 0.5rem;
                            }

                            &__content {
                                color: $paragraph;
                                font-size: $fs-slightly-larger;
                                margin-bottom: 0.75rem;
                                text-align: justify;
                            }
                        }

                        .portfolio {
                            &-grid {
                                @include display-grid(
                                    $gap: 2rem,
                                    $place-items: stretch
                                );
                                grid-template-columns: 1fr 1fr 1fr;

                                .project {
                                    &__card {
                                        background-color: #f7fafd;
                                        border-radius: 1rem;
                                        box-shadow: 2px 2px 10px 2px
                                            rgba(110, 110, 110, 0.81);
                                        -webkit-box-shadow: 2px 2px 10px 2px
                                            rgba(110, 110, 110, 0.81);
                                        -moz-box-shadow: 2px 2px 10px 2px
                                            rgba(110, 110, 110, 0.81);
                                    }

                                    &__img {
                                        position: relative;

                                        img {
                                            border-top-left-radius: 1rem;
                                            border-top-right-radius: 1rem;
                                        }

                                        .overlay {
                                            background: #2d86daa9;
                                            border-top-left-radius: 1rem;
                                            border-top-right-radius: 1rem;
                                            bottom: 0rem;
                                            height: 100%;
                                            left: 0rem;
                                            opacity: 0;
                                            position: absolute;
                                            right: 0rem;
                                            top: 0rem;
                                            transition: all 0.4s ease-out 0s;
                                            width: 100%;

                                            &:hover {
                                                opacity: 0.75;

                                                .fly-out {
                                                    bottom: 50%;
                                                    display: block;
                                                    transform: translate(
                                                        -50%,
                                                        -50%
                                                    );
                                                }
                                            }

                                            .fly-out {
                                                display: none;
                                                position: absolute;
                                                bottom: 0rem;
                                                left: 50%;
                                                transform: translate(-50%, 0);
                                                width: 100%;

                                                transition: all 0.4s ease-out 0s;

                                                .link {
                                                    color: $white;
                                                    font-weight: $fw-medium;
                                                    text-decoration: none;

                                                    &:hover {
                                                        letter-spacing: 0.25rem;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &__banner {
                                        padding: 1.5rem 1rem;
                                        position: relative;
                                        text-align: left;
                                    }

                                    &__title {
                                        color: $secondary;
                                        font-size: $fs-section-title;
                                    }

                                    &__type {
                                        background-color: $primary;
                                        border-radius: 0.5rem;
                                        color: $white;
                                        font-size: $fs-small;
                                        font-weight: $fw-medium;
                                        margin-top: -2.5rem;
                                        padding: 0.25rem 0.75rem;
                                        position: absolute;
                                        width: fit-content;
                                    }

                                    &__actions {
                                        @include display-flex(
                                            $justify-content: space-between
                                        );
                                        font-size: $fs-small;
                                        font-weight: $fw-medium;
                                        gap: 0.5rem;
                                        margin-top: -2.5rem;
                                        padding: 0.25rem 0.75rem;
                                        position: absolute;
                                        right: 0px;
                                        width: fit-content;

                                        .action {
                                            @include display-flex();
                                            background-color: $primary;
                                            border-radius: 0.5rem;
                                            height: 1.75rem;
                                            width: 1.75rem;

                                            &__link {
                                                @include display-flex();
                                                height: 100%;
                                                width: 100%;
                                            }

                                            &__icon {
                                                color: $white;
                                                font-size: $fs-small;
                                            }
                                        }
                                    }

                                    &__technologies {
                                        @include display-flex(
                                            $justify-content: start
                                        );
                                        color: $primary;
                                        font-size: $fs-extra-small;
                                        gap: 0.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &--contact {
                background-color: $white;
                margin-bottom: 5rem;
                padding: 0;

                .contact {
                    &--wrapper {
                        text-align: center;

                        .section {
                            &__sub-title {
                                color: $primary;
                                font-size: $fs-section-title;
                                font-weight: $fw-medium;
                                letter-spacing: 0.16em;
                                margin-bottom: 0.5rem;
                            }

                            &__title {
                                color: $secondary;
                                font-size: $fs-title;
                                font-weight: $fw-semi-bold;
                                letter-spacing: 0.16em;
                                margin-bottom: 0.5rem;
                            }
                        }

                        .bottom--wrapper {
                            @include display-grid($gap: 3rem);
                            grid-template-columns: 1fr 1fr;
                            overflow-x: hidden;
                            overflow-y: hidden;
                            position: relative;
                            text-align: left;
                            width: 100%;

                            .left-box--wrapper {
                                background: $background-alt;
                                border-bottom-right-radius: 1rem;
                                border-top-right-radius: 1rem;
                                color: $white;
                                overflow-x: hidden;
                                overflow-y: hidden;
                                padding: 3rem;
                                padding-left: 5rem;
                                position: relative;
                                width: 100%;
                                z-index: 2;

                                .sub-section {
                                    &__title {
                                        font-size: $fs-section-title;
                                        font-weight: $fw-medium;
                                        margin-bottom: 0.5rem;
                                    }

                                    &__message {
                                        font-size: 1.125rem;
                                        margin-bottom: 1.5rem;
                                        margin-top: 1.5rem;
                                    }
                                }

                                .contact-information-list {
                                    .item {
                                        font-size: 1rem;
                                        font-weight: $fs-medium;
                                        margin-bottom: 0.75rem;
                                    }
                                }

                                .nav--socials {
                                    margin-top: 2rem;
                                }

                                #blob-one,
                                #blob-two {
                                    opacity: 0.25;
                                    position: absolute;
                                    width: 75rem;
                                    z-index: -1;
                                }

                                #blob-one {
                                    bottom: -500px;
                                    right: -350px;
                                }

                                #blob-two {
                                    opacity: 0.35;
                                    left: -500px;
                                    top: -500px;
                                }
                            }

                            .form--wrapper {
                                height: 100%;
                                padding-right: 5rem;
                                width: 100%;

                                form {
                                    @include display-flex-column(
                                        $align-items: start,
                                        $justify-content: space-evenly
                                    );
                                    height: 100%;

                                    label,
                                    input,
                                    textarea {
                                        width: 100%;
                                    }

                                    label {
                                        font-size: $fs-medium;
                                        font-weight: $fw-medium;
                                    }

                                    input,
                                    textarea {
                                        border: none;
                                        border-bottom: 0.125rem solid $secondary;

                                        &:focus,
                                        &:focus-visible,
                                        &:focus-within {
                                            border-bottom: 0.125rem solid
                                                $primary;
                                            outline-style: none;
                                        }
                                    }

                                    textarea {
                                        resize: none;
                                    }

                                    button {
                                        margin-top: 0.5rem;
                                        font-size: $fs-large;
                                        align-self: flex-end;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
