@use '../utilities' as *;

.nav {
    &--socials {
        .nav__items {
            gap: 3rem;
            justify-content: start;
        }

        .nav__item {
            cursor: pointer;
            padding: 1.25rem;
            border-radius: 50%;
            width: 4rem;
            height: 4rem;
            @include display-flex();

            &:hover {
                background-color: $primary;
            }
        }

        .nav__link {
            @include display-flex();
            height: 100%;
            width: 100%;
        }

        .nav__icon {
            font-size: $fs-extra-large;
        }
    }

    &__items {
        @include display-flex();
        gap: 3rem;
    }

    &__item {
        &::after {
            content: '';
            height: 0.125rem;
            background-color: $white;
            display: block;
            margin: 0 auto;
            transition: 0.5s ease-in-out;
            width: 0%;
        }

        &:hover::after {
            width: 100%;
        }

        // &::after,
        // &::before {
        //     backface-visibility: hidden;
        //     border: 1px solid rgba($white, 0);
        //     content: ' ';
        //     display: block;
        //     margin: 0 auto;
        //     position: relative;
        //     transition: all 280ms ease-in-out;
        //     width: 0;
        // }

        // &:hover::after,
        // &:hover::before {
        //     backface-visibility: hidden;
        //     border-color: $white;
        //     transition: width 350ms ease-in-out;
        //     width: 100%;
        // }

        // &:hover::before {
        //     bottom: auto;
        //     top: 0;
        //     width: 0;
        //     border-top: none;
        // }
    }

    &__link {
        color: $white;
        text-decoration: none;
    }
}
